* {
  box-sizing: border-box;
}

:root {
  --primary-color: #131339;
  --primary-offcolor: #000000;
  --secondary-color: #989898;
  --secondary-offcolor: #444444;
  --text-color: #ffffff;

  --ship-color: #cbcbcb;
  --miss-color: #4680bd;
  --hit-color: #d72000;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;

  & h1 {
    font-size: 4rem;
    margin-top: 12px;
    color: var(--text-color);
  }
}

main {
  background-color: var(--primary-color);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & .info-box {
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    gap: 0.5rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 16px;
    width: 400px;

    & .info-text {
      font-weight: 700;
      font-size: 1.3rem;
    }

    & button {
      background-color: var(--primary-color);
      color: var(--secondary-color);
      border: 1px solid var(--primary-color);
      border-radius: 3px;
      padding: 4px 12px;
      margin: 8px;
      font-size: 1rem;
      cursor: pointer;

      /* &.clicked {
        background-color: var(--secondary-color);
        color: var(--primary-color);
      } */
    }
  }

  & .game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    cursor: crosshair;
    & .board-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 4px solid var(--secondary-color);
      border-radius: 5px;
      background-color: var(--primary-offcolor);
      & .board-column {
        display: flex;
        flex-direction: column-reverse;
        & .board-item {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border: 1px solid var(--secondary-offcolor);
          background-color: var(--primary-color);
          transition: opacity 220ms;

          &.ship {
            background-color: var(--ship-color);
            border-color: var(--secondary-color);
          }
          &.hit {
            background-color: var(--hit-color);
            border-color: var(--hit-color);
          }
          &.miss {
            background-color: var(--miss-color);
            border-color: var(--miss-color);
          }
          &:hover {
            opacity: 0.66;
          }
        }
      }
    }
    & .board-container.smaller {
      & .board-item {
        width: 35px;
        height: 35px;
      }
    }
  }
}

.unfocused {
  opacity: 0.5;
  pointer-events: none;
}

.hidden {
  display: none;
}
