:root {
  --primary-color: #131339;
  --primary-offcolor: #000000;
  --secondary-color: #989898;
  --secondary-offcolor: #444444;
  --text-color: #ffffff;

  --ship-color: #cbcbcb;
  --miss-color: #4680bd;
  --hit-color: #d72000;
}

body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;

  & h1 {
    font-size: 6rem;
    padding: 2rem;
    color: var(--text-color);
  }
}

main {
  background-color: var(--primary-color);
  flex-grow: 1;
  display: grid;

  & .game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  & .board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--secondary-color);
    border-radius: 5px;
    background-color: var(--primary-offcolor);
    & .board-column {
      display: flex;
      flex-direction: column-reverse;
      & .board-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 1px solid var(--secondary-offcolor);
        background-color: var(--primary-color);
        transition: opacity 220ms;

        &.ship {
          background-color: var(--ship-color);
          border-color: var(--secondary-color);
        }
        &.hit {
          background-color: var(--hit-color);
          border-color: var(--hit-color);
        }
        &.miss {
          background-color: var(--miss-color);
          border-color: var(--miss-color);
        }
        &:hover {
          opacity: 0.66;
        }
      }
    }
  }
}
